@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-label {
      @apply text-[1rem] text-base-1 font-medium;
    }

    .form-inp {
        @apply w-[100%] border-[2px] rounded-[8px] px-[1rem] py-[0.5rem] border-zinc-300 focus:outline-none focus:border-accent-blue-1 focus:ring-1 focus:accent-accent-blue-1 text-base-1;
    }

    .button-primary {
      @apply text-white bg-base-1 px-[12px] py-[6px] md:px-[16px] md:py-[8px] rounded-[8px] border-[1px] border-base-1 font-medium;
    }

    .button-secondary {
      @apply text-base-1 px-[12px] py-[6px] md:px-[16px] md:py-[8px] rounded-[8px] border-[1px] bg-background font-medium;
    }
  }



/* Add this CSS to your stylesheets */
ul {
  list-style-type: disc; /* or circle or square */
}

/* Optionally, you can style the list items */
li {
  margin-left: 1rem; /* Adjust as needed */
}

.grad {
  width: 0;
	height: 0;
  border-radius: 50rem;
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-top: 50rem solid #a3a3ff;
}