.tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  
    a {
      color: #0000EE;
      text-decoration: underline;
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      border-radius: 0.25em;
      box-decoration-break: clone;
      color: #616161;
      font-size: 0.9rem;
    }

    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  }